* {
  box-sizing: border-box;
}

iframe {
  border: 0;
}

body {
  margin: 0;
  padding: 0;
}
#desktop {
  background-image: url(../../src/imgs/todd-trapani-L2dMFs4fdJg-unsplash.jpg);
  width: 100vw;
  height: 100vh;
  background-position: 50% 40%;
  background-size: 100vw;
  position: fixed;
}


.tool_bar {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #515459;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}

.tool_bar__start_menu {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.tool_bar__app_icon {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.fas {
  color: white;
  font-size: 30px;
}

.app {
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 20vh;
  left: 20vw;
  background-color: #e6e6e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.app__content {
  margin: 2px;
}

.app__top_bar {
  height: 20px;
  background-color: #dddddd;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app__top_bar__close_button {
  width: 12px;
  height: 12px;
  background-color: #a5a5a5;
  border-radius: 10px;
  margin-right: 5px;
}

.app__top_bar__min_button {
  width: 12px;
  height: 12px;
  background-color: #d1d1d1;
  border-radius: 10px;
  margin-right: 5px;
}

.app__top_bar__max_button {
  width: 12px;
  height: 12px;
  background-color:#d0d0d0;
  border-radius: 10px;
  margin-right: 5px;
}

.app__top_bar__close_button {
  width: 12px;
  height: 12px;
  background-color: #a5a5a5;
  border-radius: 10px;
  margin-right: 5px;
}

